body{
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: black;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.google{
    height: 170px;
    width: 350px;
    margin-top: 5rem;
    margin-bottom: 0;
    font-size: 200px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 450px;
    border: 1px solid grey;
    border-radius: 50px;
    padding: 0 1rem;
}
input{
  flex: 1;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.5rem;
}
.navbar{
    display: flex;
    height: 3em;
    justify-content: flex-end;
}
.items{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 .5rem;
}
footer{
    position: absolute;
    border: 1px solid grey;
    border-radius: 50px;
    bottom: 15px;
    right: 15px;
}
.customize {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    color: rgb(46, 121, 241);
}
footer a{
    color: rgb(46, 121, 241);
}
.foot{
    padding: .2rem .2rem;
}
